@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
*, *:after, *:before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  color: #434242;
}

h1, h2, h3, h4, h5, h6, ul, ol, p {
  margin: 0;
}

ul, ol {
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  border: 1px solid #961914;
  background-color: #961914;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  padding: 12px 41px;
  text-align: center;
  border-radius: 8px;
  max-width: 226px;
  transition: 0.3s;
}
.btn:hover {
  background-color: #fff;
  color: #961914;
  border-color: #961914;
}
.btn--another:hover {
  background-color: inherit;
  color: #fff;
  border-color: #fff;
}
.btn--another-two:hover {
  background-color: inherit;
  color: #961914;
  border-color: #961914;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}
.header__logo-img {
  max-width: 80px;
  max-height: 80px;
}
.header__list {
  display: flex;
}
.header__item {
  padding: 0 26px;
}
.header__link {
  color: #fff;
  font-weight: 500;
  position: relative;
}
.header__link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 0;
  bottom: -2px;
  background-color: #fff;
  transition: 0.3s;
}
.header__link:hover:after {
  width: 100%;
}
.header__btn-menu {
  display: none;
}

@media (max-width: 1024px) {
  .header__item {
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .header {
    position: relative;
  }
  .header__logo-img {
    max-width: 60px;
    max-height: 60px;
  }
  .header__btn-menu {
    display: block;
    width: 30px;
    height: 22px;
    position: relative;
  }
  .header__btn-menu--open .header__line:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__btn-menu--open .header__line:nth-child(2) {
    display: none;
  }
  .header__btn-menu--open .header__line:nth-child(2) {
    transform: rotate(-45deg);
    top: 9px;
  }
  .header__line {
    background-color: #fff;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: 0.3s;
  }
  .header__line:nth-child(1) {
    top: 0;
  }
  .header__line:nth-child(2) {
    top: 9px;
  }
  .header__line:nth-child(3) {
    top: 18px;
  }
  .header__nav {
    display: none;
  }
  .header__nav--open {
    display: block;
    position: absolute;
    right: 0;
    top: calc(100% - 20px);
    background-color: #000;
    border-radius: 5px;
  }
  .header__list {
    display: block;
    min-width: 120px;
  }
  .header__item {
    padding: 3px 10px;
  }
}
.zooov {
  background-image: url(../images/zooov/bgi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 90px;
}
.zooov:after {
  content: "";
  background-image: url(../images/zooov/zooov.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 153px;
  height: 548px;
  position: absolute;
  right: -6px;
  bottom: 108px;
  overflow: hidden;
}
.zooov__wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.zooov__content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 50px 0;
}
.zooov__title {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  max-width: 412px;
  margin-bottom: 10px;
  position: relative;
  z-index: 0;
  color: #fff;
}
.zooov__title:after {
  content: "";
  background-image: url(../images/zooov/eclipse.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 260px;
  height: 92px;
  position: absolute;
  top: 60px;
  right: -30px;
  z-index: -1;
}
.zooov__desc {
  font-size: 20px;
  max-width: 368px;
  margin-bottom: 25px;
  color: #fff;
}

@media (max-width: 1024px) {
  .zooov__title {
    font-size: 44px;
    max-width: 336px;
  }

  .zooov__title:after {
    background-image: url(../images/zooov/Ellipse-mobile.svg);
    top: 55px;
    left: -5px;
    width: 190px;
    height: 80px;
  }

  .zooov__desc {
    font-size: 18px;
    max-width: 345px;
  }

  .zooov:after {
    background-image: url(../images/zooov/zooov-mobile.svg);
    width: 145px;
    height: 334px;
    right: -52px;
    bottom: 0;
  }
}
@media (max-width: 768px) {
  .zooov__desc {
    max-width: 286px;
  }
}
@media (max-width: 425px) {
  .zooov__title {
    margin-bottom: 24px;
  }

  .zooov__desc {
    margin-bottom: 48px;
  }
}
@media (max-width: 375px) {
  .zooov__title {
    font-size: 37px;
  }

  .zooov__title:after {
    left: -12px;
    top: 43px;
    width: 162px;
    height: 65px;
  }

  .zooov:after {
    width: 129px;
    height: 280px;
  }
}
.title {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #000;
}

.barf__box-item-seven:before, .barf__box-item-six:before, .barf__box-item-five:before, .barf__box-item-four:before, .barf__box-item-three:before, .barf__box-item-two:before, .barf__box-item-one:before {
  content: "";
  position: absolute;
}

.barf {
  padding: 90px 0;
}
.barf__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.barf__col {
  flex: 1 1 50%;
}
.barf__col:nth-child(3) {
  margin-top: 80px;
  background-image: url(../images/barf/barf-bgr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.barf__title {
  margin-bottom: 32px;
}
.barf__desc {
  margin-bottom: 24px;
  max-width: 560px;
}
.barf__subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #000;
  margin-bottom: 16px;
}
.barf__item {
  position: relative;
  padding-left: 12px;
  margin-bottom: 16px;
}
.barf__item:last-child {
  margin-bottom: 0;
}
.barf__item:before {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='3.00098' r='3' fill='%23961914'/%3E%3C/svg%3E");
  width: 6px;
  height: 6px;
  top: 8px;
  left: 0;
}
.barf__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.barf__img-wrap {
  padding-bottom: 89%;
  position: relative;
  object-fit: cover;
}
.barf__over-card {
  margin: 32px 80px;
  display: flex;
  flex: 1 1 100%;
}
.barf__card-perсents {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}
.barf__card-perсents:first-child {
  margin-right: 143px;
}
.barf__caption {
  font-weight: 600;
  line-height: 2;
  color: #000;
  margin-bottom: 16px;
}
.barf__over-box {
  display: flex;
}
.barf__box {
  flex: 1 1 50%;
}
.barf__box-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 2.5;
  position: relative;
  padding-left: 36px;
}
.barf__box-item-one:before {
  width: 20px;
  height: 14px;
  top: 16px;
  left: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.2951 2.43524C17.378 1.78163 16.0964 1.25452 14.4738 0.853916C11.3463 0.0843373 7.81893 0 6.44327 0C2.89242 0 0 2.59337 0 5.77711V8.22289C0 11.4066 2.89242 14 6.44327 14C8.0776 14 9.31217 13.5361 10.6173 13.0512C11.9694 12.5452 13.3568 12.0286 15.3204 12.0286C17.9071 12.0286 20 10.1416 20 7.83283V5.38705C20 4.23795 19.4239 3.24699 18.2951 2.43524ZM17.9659 8.42319C18.1188 8.56024 18.3657 8.57078 18.5185 8.43373C18.7889 8.21235 19.0123 7.95934 19.2122 7.69578V7.83283C19.2122 9.76205 17.4603 11.3328 15.3086 11.3328C13.1922 11.3328 11.7225 11.881 10.3116 12.4081C9.08877 12.872 7.92475 13.3042 6.44327 13.3042C3.44503 13.3042 0.975897 11.2063 0.787772 8.5497C1.88125 10.3419 4.00941 11.5542 6.44327 11.5542C8.0776 11.5542 9.31217 11.0904 10.6173 10.6054C11.9694 10.0994 13.3568 9.58283 15.3204 9.58283C15.4615 9.58283 15.6143 9.57229 15.7554 9.56175C15.9671 9.54066 16.1317 9.37199 16.1082 9.18223C16.0847 8.99247 15.8965 8.84488 15.6849 8.86596C15.5673 8.87651 15.438 8.87651 15.3204 8.87651C13.204 8.87651 11.7343 9.4247 10.3233 9.95181C9.08877 10.4262 7.92475 10.8584 6.44327 10.8584C3.3157 10.8584 0.776014 8.58133 0.776014 5.77711C0.776014 2.97289 3.3157 0.695783 6.44327 0.695783C7.78366 0.695783 11.2287 0.780121 14.2622 1.52861C17.5426 2.34036 19.2122 3.63705 19.2122 5.38705C19.2122 6.34639 18.7654 7.2741 17.9777 7.92771C17.8248 8.06476 17.8248 8.28614 17.9659 8.42319Z' fill='%23961914'/%3E%3Cpath d='M17.6484 8.64452C17.5544 8.46531 17.3192 8.39151 17.1311 8.47585H17.1193C16.9312 8.56019 16.8489 8.77103 16.943 8.95025C17.0135 9.07676 17.1546 9.14001 17.2957 9.14001C17.3545 9.14001 17.4133 9.12947 17.4721 9.10838C17.6602 9.02404 17.7425 8.82374 17.6484 8.64452Z' fill='%23961914'/%3E%3Cpath d='M9.26512 1.49691H9.2416C9.02996 1.48636 8.84184 1.62341 8.81832 1.82371C8.80656 2.01347 8.95942 2.18215 9.17106 2.20323H9.19457C9.20633 2.20323 9.21809 2.20323 9.22985 2.20323C9.42973 2.20323 9.6061 2.06618 9.61785 1.87642C9.64137 1.68667 9.47676 1.51799 9.26512 1.49691Z' fill='%23961914'/%3E%3Cpath d='M18.1893 4.44879C17.8013 3.753 16.943 3.16264 15.6261 2.6777C14.5679 2.28764 13.4039 2.03463 12.6161 1.89758C12.1458 1.81324 11.652 1.73945 11.1464 1.6762C10.9347 1.65511 10.7349 1.79216 10.7113 1.98192C10.6761 2.17168 10.8289 2.35089 11.0406 2.37198C11.5344 2.43523 12.0047 2.50903 12.4633 2.58282C15.144 3.05722 16.9782 3.84788 17.4956 4.75451C17.6014 4.94427 17.6602 5.15511 17.6602 5.38704C17.6602 6.54668 16.6138 7.48493 15.3204 7.48493C14.0153 7.48493 12.7572 7.67469 11.4521 8.06475C10.8877 8.23342 10.3469 8.43372 9.81775 8.63403C9.46502 8.76053 9.11228 8.89758 8.74779 9.01354C7.8542 9.32981 7.16049 9.45632 6.44326 9.45632C4.18577 9.45632 2.3398 7.81174 2.3398 5.7771C2.3398 3.753 4.17401 2.09788 6.44326 2.09788C6.89006 2.09788 7.33686 2.10842 7.77189 2.11897C7.84244 2.11897 7.92475 2.11897 7.99529 2.12951C8.21869 2.14005 8.39506 1.99246 8.40682 1.79216C8.41857 1.6024 8.25396 1.43373 8.03057 1.42318C7.94826 1.42318 7.87771 1.41264 7.79541 1.41264C7.34861 1.41264 6.89006 1.4021 6.44326 1.4021C3.75073 1.4021 1.56378 3.36294 1.56378 5.7771C1.56378 8.19126 3.75073 10.1521 6.44326 10.1521C7.26631 10.1521 8.03057 10.0045 9.02998 9.66716C9.39447 9.5512 9.75896 9.41415 10.1117 9.2771C10.629 9.08734 11.1581 8.88704 11.6872 8.72891C12.91 8.35993 14.0858 8.18071 15.3086 8.18071C17.0253 8.18071 18.4244 6.9262 18.4244 5.38704C18.4362 5.03915 18.3539 4.73342 18.1893 4.44879Z' fill='%23961914'/%3E%3Cpath d='M6.81955 2.7937C5.72607 2.7937 4.84424 3.52111 4.84424 4.40665C4.84424 5.29219 5.72607 6.00906 6.81955 6.00906C7.91302 6.00906 8.79486 5.28165 8.79486 4.39611C8.79486 3.51057 7.91302 2.7937 6.81955 2.7937ZM6.81955 5.31328C6.16111 5.31328 5.62025 4.90213 5.62025 4.40665C5.62025 3.90063 6.16111 3.50003 6.81955 3.50003C7.47798 3.50003 8.01884 3.90063 8.01884 4.40665C8.01884 4.91268 7.47798 5.31328 6.81955 5.31328Z' fill='%23961914'/%3E%3C/svg%3E");
}
.barf__box-item-two:before {
  width: 20px;
  height: 20px;
  top: 11px;
  left: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.2808 3.15669C18.8223 2.69814 18.1874 2.43359 17.5348 2.43359C17.5348 1.79867 17.2703 1.18138 16.8117 0.722831C15.8593 -0.22955 14.2897 -0.22955 13.3373 0.722831C12.5083 1.53412 12.4025 2.78632 12.9669 3.7387L3.77819 12.9627C2.84344 12.3983 1.55597 12.4865 0.727042 13.3331C-0.225339 14.2854 -0.225339 15.8551 0.727042 16.8075C1.1856 17.266 1.82052 17.5306 2.47307 17.5306C2.47307 18.1832 2.73762 18.8181 3.19618 19.2766C4.14856 20.229 5.71822 20.229 6.6706 19.2766C7.58771 18.3595 7.62299 16.9133 6.84697 15.9609L15.9651 6.80749C16.9352 7.5835 18.3814 7.53059 19.2808 6.63112C20.2332 5.67874 20.2332 4.10908 19.2808 3.15669ZM18.4519 5.8022C17.9581 6.29603 17.0939 6.31366 16.5824 5.8022C16.5119 5.73165 16.4766 5.69638 16.4237 5.62583C16.2297 5.34364 15.824 5.30837 15.5771 5.55528C15.5595 5.57292 5.6124 15.5553 5.57713 15.6082C5.36549 15.8727 5.40076 16.2608 5.68295 16.4548C6.33551 16.9309 6.40605 17.901 5.84168 18.4477C5.34785 18.9415 4.51893 18.9415 4.0251 18.4477C3.67237 18.095 3.54891 17.513 3.74292 17.0191C3.93692 16.5429 3.46073 16.0668 2.98454 16.2608C2.50835 16.4548 1.92634 16.3313 1.55597 15.9786C0.762315 15.1849 1.29142 13.774 2.49071 13.774C2.84344 13.774 3.17854 13.9151 3.42545 14.1444C3.65473 14.3736 4.0251 14.3736 4.25438 14.1444C14.8717 3.47415 14.2191 4.16199 14.2897 4.02089C14.3955 3.79162 14.3426 3.52706 14.1662 3.3507C13.6724 2.85687 13.6724 2.02795 14.1662 1.53412C14.66 1.04029 15.4889 1.04029 15.9828 1.53412C16.3531 1.90449 16.459 2.43359 16.265 2.90978C16.2121 3.03324 16.2121 3.19197 16.265 3.33306C16.3884 3.63288 16.7235 3.77398 17.0233 3.66816C17.4995 3.47415 18.0815 3.59761 18.4519 3.95035C18.9634 4.47945 18.9634 5.29073 18.4519 5.8022Z' fill='%23961914'/%3E%3Cpath d='M6.4727 7.23126C6.70198 7.46053 7.07235 7.46053 7.30163 7.23126C7.5309 7.00198 7.5309 6.63161 7.30163 6.40233L5.30868 4.40938C5.0794 4.18011 4.70903 4.18011 4.47976 4.40938C4.25048 4.63866 4.25048 5.00903 4.47976 5.23831L6.4727 7.23126Z' fill='%23961914'/%3E%3Cpath d='M2.18699 9.33004H4.99122C5.30868 9.33004 5.57324 9.06549 5.57324 8.74803C5.57324 8.43057 5.30868 8.16602 4.99122 8.16602H2.18699C1.86953 8.16602 1.60498 8.43057 1.60498 8.74803C1.60498 9.08312 1.86953 9.33004 2.18699 9.33004Z' fill='%23961914'/%3E%3Cpath d='M8.8184 5.52044C9.13586 5.52044 9.40041 5.25589 9.40041 4.93843V2.11656C9.40041 1.7991 9.13586 1.53455 8.8184 1.53455C8.50094 1.53455 8.23639 1.7991 8.23639 2.11656V4.93843C8.23639 5.25589 8.4833 5.52044 8.8184 5.52044Z' fill='%23961914'/%3E%3Cpath d='M13.5979 12.7691C13.3687 12.5398 12.9983 12.5398 12.769 12.7691C12.5397 12.9984 12.5397 13.3688 12.769 13.598L14.7619 15.591C14.8678 15.6968 15.0265 15.7674 15.1676 15.7674C15.6791 15.7674 15.9436 15.1324 15.5732 14.7621L13.5979 12.7691Z' fill='%23961914'/%3E%3Cpath d='M17.8836 10.6704H15.0617C14.7443 10.6704 14.4797 10.935 14.4797 11.2524C14.4797 11.5699 14.7443 11.8344 15.0617 11.8344H17.866C18.1834 11.8344 18.448 11.5699 18.448 11.2524C18.4656 10.935 18.2011 10.6704 17.8836 10.6704Z' fill='%23961914'/%3E%3Cpath d='M11.2522 14.4799C10.9348 14.4799 10.6702 14.7444 10.6702 15.0619V17.8661C10.6702 18.1836 10.9348 18.4481 11.2522 18.4481C11.5697 18.4481 11.8342 18.1836 11.8342 17.8661V15.0619C11.8342 14.7444 11.5697 14.4799 11.2522 14.4799Z' fill='%23961914'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.barf__box-item-three:before {
  width: 20px;
  height: 20px;
  top: 11px;
  left: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 11.2757C20 9.87654 19.318 8.5244 18.1775 7.68959C17.9424 7.51323 17.6602 7.41917 17.3663 7.41917C17.0018 7.41917 16.6608 7.56026 16.4139 7.80717C16.3668 7.7719 16.3198 7.72487 16.2728 7.68959C16.0964 7.5485 15.8848 7.4662 15.6614 7.44268L15.8025 5.87889C15.8025 5.84362 15.8025 5.80835 15.8025 5.76132C15.8025 5.06761 15.2381 4.51499 14.5561 4.51499H14.4738C13.7801 4.51499 13.2275 5.07937 13.2275 5.76132C13.2275 5.79659 13.2275 5.83186 13.2275 5.87889L13.3686 7.45444C13.1687 7.48971 12.9688 7.57202 12.8042 7.70135C12.7454 7.74838 12.6984 7.79541 12.6396 7.84245C12.6161 7.80717 12.5808 7.78366 12.5456 7.76014C12.5691 7.64256 12.5808 7.52499 12.5808 7.41917C12.5808 7.00764 12.4515 6.61964 12.2163 6.29042C12.4515 5.9612 12.5808 5.57319 12.5808 5.16167C12.5808 4.05644 11.652 3.16285 10.535 3.23339C10.3233 2.6455 9.84127 2.18695 9.25338 2.02234C8.85362 1.52851 8.26573 1.25808 7.63081 1.29336C7.36038 0.529101 6.64315 0 5.80835 0C5.10288 0 4.46796 0.376249 4.12698 0.964139C3.28042 0.999412 2.53968 1.59906 2.32804 2.4221C1.32863 2.79835 0.646678 3.76249 0.646678 4.83245C0.646678 5.69077 1.06996 6.4903 1.77543 6.96061C1.66961 7.20753 1.61082 7.47795 1.61082 7.73663C1.61082 8.31276 1.86949 8.85362 2.31628 9.21811C2.28101 9.37096 2.2575 9.52381 2.2575 9.67666C2.2575 10.6643 2.99824 11.4874 3.96238 11.5932L4.6796 13.592C4.31511 13.8624 3.99765 14.2034 3.76249 14.5797L2.06937 14.2034C2.01058 14.1917 1.94004 14.1799 1.86949 14.1799C1.37566 14.1799 0.964139 14.5797 0.964139 15.0852V15.2146C0.964139 15.3086 0.975897 15.3909 1.01117 15.4733H0.964139C0.435038 15.485 0 15.92 0 16.4491C0 16.9782 0.435038 17.4133 0.964139 17.4133H1.01117C0.987654 17.4956 0.964139 17.5779 0.964139 17.672V17.8013C0.964139 18.2951 1.3639 18.7066 1.86949 18.7066C1.94004 18.7066 1.99882 18.6949 2.06937 18.6831L3.76249 18.3069C4.38566 19.318 5.50265 20 6.77249 20H6.84303C7.0194 20 7.20753 19.9882 7.38389 19.953L18.448 18.2481C19.3416 18.107 20 17.3545 20 16.4374C20 15.7084 19.5767 15.0852 18.9536 14.7913C19.6238 13.9918 20 12.9806 20 11.9342V11.2757ZM15.8848 8.20694C16.8489 8.94768 17.425 10.1117 17.425 11.3463V12.5338C17.425 13.1922 17.2604 13.8389 16.9547 14.4151L14.368 14.0153C14.2622 13.545 14.2034 13.0747 14.2034 12.5926V11.2757C14.2034 10.9465 14.2387 10.629 14.2857 10.2998C14.368 10.3116 14.4386 10.3116 14.5209 10.3116C15.438 10.3116 16.1317 9.90006 16.1317 9.34744C16.1317 9.04174 15.92 8.77131 15.5556 8.59494L15.6026 8.0776C15.6966 8.10112 15.7907 8.13639 15.8848 8.20694ZM14.4738 5.16167H14.5561C14.8854 5.16167 15.1558 5.4321 15.1558 5.76132C15.1558 5.78483 15.1558 5.79659 15.1558 5.82011L14.8618 9.04174L15.1088 9.12405C15.3909 9.21811 15.485 9.33568 15.485 9.3592C15.485 9.44151 15.144 9.67666 14.5209 9.67666C13.8977 9.67666 13.5567 9.42975 13.5567 9.3592C13.5567 9.33568 13.6508 9.21811 13.933 9.12405L14.1799 9.04174L13.8742 5.82011C13.8742 5.79659 13.8742 5.78483 13.8742 5.76132C13.8742 5.4321 14.1446 5.16167 14.4738 5.16167ZM13.4274 8.08936L13.4744 8.59494C13.1099 8.77131 12.8983 9.04174 12.8983 9.34744C12.8983 9.70018 13.1922 9.99412 13.639 10.1705C13.5802 10.535 13.545 10.9112 13.545 11.2757V12.5808C13.545 13.0276 13.592 13.4627 13.6743 13.8977L11.7695 13.6038C11.6637 13.251 11.6049 12.8865 11.6049 12.5103V11.3463C11.6049 10.1235 12.1928 8.94768 13.1805 8.20694C13.2628 8.14815 13.3451 8.11287 13.4274 8.08936ZM9.94709 13.3333C9.77072 12.8865 9.67666 12.428 9.67666 11.9459V11.2757C9.67666 10.0764 10.2646 8.92416 11.2404 8.20694C11.358 8.11287 11.5109 8.06584 11.6637 8.06584C11.8636 8.06584 12.04 8.14815 12.1693 8.27748C11.4051 9.11229 10.97 10.2058 10.97 11.3463V12.5338C10.97 12.863 11.0053 13.1922 11.0758 13.5215L9.94709 13.3333ZM9.9706 3.64491L10.0294 3.97413L10.3586 3.90359C10.4644 3.88007 10.5585 3.86831 10.6408 3.86831C11.358 3.86831 11.9342 4.44444 11.9342 5.16167C11.9342 5.50265 11.8048 5.82011 11.5697 6.06702L11.3463 6.29042L11.5697 6.51382C11.8048 6.76073 11.9342 7.07819 11.9342 7.41917C11.9342 7.43092 11.9342 7.44268 11.9342 7.44268C11.8401 7.43092 11.7578 7.41917 11.6637 7.41917C11.3698 7.41917 11.0876 7.51323 10.8524 7.68959C10.2646 8.11287 9.806 8.68901 9.48854 9.32393C9.37096 8.94768 9.24162 8.58319 9.11229 8.23045C9.40623 6.65491 10.5115 5.74956 10.5232 5.7378L10.3233 5.47913L10.1235 5.23222C10.0764 5.26749 9.20635 5.98471 8.71252 7.26631C8.04233 5.72604 7.40741 4.72663 7.37213 4.66784L6.81952 5.00882C6.83128 5.02058 7.3251 5.79659 7.88948 7.03116C6.9371 6.66667 5.83186 6.77249 5.77307 6.77249L5.83186 7.41917C6.31393 7.37213 7.68959 7.39565 8.33627 8.05409C8.55967 8.6067 8.78307 9.21811 8.98295 9.87654C8.00705 9.3592 6.83128 9.3592 6.77249 9.3592V9.99412C6.78425 9.99412 8.21869 10.0059 9.07701 10.6761C9.0535 10.876 9.02998 11.0758 9.02998 11.2757V11.9577C9.02998 12.3927 9.10053 12.816 9.21811 13.2275L7.38389 12.9453C7.28983 12.9336 7.19577 12.9218 7.10171 12.9101C6.38448 12.9101 5.80835 12.3222 5.80835 11.6049C5.80835 11.4521 5.84362 11.2992 5.90241 11.1464L5.99647 10.8995L5.76132 10.7701C5.38507 10.535 5.16167 10.1235 5.16167 9.67666C5.16167 9.41799 5.23222 9.17108 5.37331 8.95944L5.57319 8.65373L5.25573 8.50088C4.5973 8.17166 4.19753 7.51323 4.19753 6.77249C4.19753 5.91417 4.77366 5.14991 5.59671 4.91476L5.79659 4.85597L5.83186 4.64433C5.91417 4.02116 6.46678 3.55085 7.10171 3.55085C7.11346 3.55085 7.12522 3.55085 7.13698 3.55085C7.16049 3.55085 7.18401 3.56261 7.20753 3.56261L7.44268 3.58613L7.52499 3.36273C7.72487 2.88066 8.19518 2.57496 8.71252 2.57496C9.33568 2.57496 9.86479 3.03351 9.9706 3.64491ZM4.42093 10.97H4.19753C3.48031 10.97 2.90417 10.3939 2.90417 9.67666C2.90417 9.52381 2.93945 9.37096 2.99824 9.21811L3.0923 8.97119L2.85714 8.8301C2.48089 8.59494 2.2575 8.18342 2.2575 7.73663C2.2575 7.47795 2.32804 7.23104 2.46914 7.0194L2.66902 6.7137L2.35156 6.56085C1.69312 6.23163 1.29336 5.57319 1.29336 4.83245C1.29336 3.97413 1.86949 3.20988 2.69253 2.97472L2.89242 2.91593L2.92769 2.70429C3.02175 2.08113 3.56261 1.59906 4.19753 1.59906C4.20929 1.59906 4.22105 1.59906 4.2328 1.59906C4.25632 1.59906 4.27984 1.59906 4.30335 1.61082L4.53851 1.63433L4.63257 1.42269C4.82069 0.952381 5.29101 0.646678 5.80835 0.646678C6.43151 0.646678 6.96061 1.09347 7.07819 1.71664L7.13698 2.04586L7.4662 1.97531C7.57202 1.95179 7.65432 1.94004 7.74838 1.94004C7.90124 1.94004 8.04233 1.97531 8.17166 2.02234C7.68959 2.15168 7.27807 2.46914 7.03116 2.90417C6.17284 2.92769 5.44386 3.53909 5.23222 4.36214C4.2328 4.72663 3.55085 5.69077 3.55085 6.77249C3.55085 7.63081 3.97413 8.43034 4.6796 8.90065C4.57378 9.14756 4.51499 9.40623 4.51499 9.67666C4.51499 10.2528 4.77366 10.7937 5.22046 11.1581C5.18519 11.311 5.16167 11.4638 5.16167 11.6167C5.16167 12.1811 5.40858 12.6984 5.79659 13.0511C5.60847 13.1099 5.42034 13.1805 5.24397 13.2628L4.42093 10.97ZM1.61082 15.2263V15.097C1.61082 14.9324 1.76367 14.8148 1.92828 14.8501L3.46855 15.1911C3.42152 15.2851 3.38624 15.3792 3.36273 15.485H1.86949C1.7284 15.485 1.61082 15.3674 1.61082 15.2263ZM0.646678 16.4491C0.646678 16.2728 0.787772 16.1317 0.964139 16.1317H1.86949H3.24515C3.23339 16.2375 3.23339 16.3433 3.23339 16.4491C3.23339 16.555 3.24515 16.6608 3.24515 16.7666H1.86949H0.964139C0.787772 16.7666 0.646678 16.6255 0.646678 16.4491ZM1.92828 18.06C1.77543 18.0952 1.61082 17.9659 1.61082 17.8131V17.6837C1.61082 17.5426 1.7284 17.425 1.86949 17.425H3.36273C3.38624 17.5309 3.42152 17.6249 3.45679 17.719L1.92828 18.06ZM19.3533 16.4491C19.3533 17.037 18.93 17.5309 18.3539 17.6132L7.28983 19.318C7.14874 19.3416 6.99589 19.3533 6.84303 19.3533H6.77249C5.17343 19.3533 3.86831 18.0482 3.86831 16.4491C3.86831 14.8501 5.17343 13.545 6.77249 13.545H6.84303C6.98413 13.545 7.13698 13.5567 7.28983 13.5802L18.3539 15.2851C18.93 15.3674 19.3533 15.8613 19.3533 16.4491ZM19.3533 11.9459C19.3533 12.9336 18.9536 13.8977 18.2481 14.6149L17.6014 14.5209C17.8954 13.8977 18.0482 13.2275 18.0482 12.5338V11.3463C18.0482 10.2058 17.6132 9.10053 16.8607 8.26573C16.99 8.14815 17.1664 8.06584 17.3545 8.06584C17.5073 8.06584 17.6602 8.11287 17.7778 8.20694C18.7537 8.92416 19.3416 10.0764 19.3416 11.2757L19.3533 11.9459Z' fill='%23961914'/%3E%3Cpath d='M6.45502 14.8384H7.1017V18.06H6.45502V14.8384Z' fill='%23961914'/%3E%3Cpath d='M9.02997 14.8384H9.67665V18.06H9.02997V14.8384Z' fill='%23961914'/%3E%3Cpath d='M11.6167 14.8384H12.2634V18.06H11.6167V14.8384Z' fill='%23961914'/%3E%3Cpath d='M14.1917 15.485H14.8383V17.425H14.1917V15.485Z' fill='%23961914'/%3E%3Cpath d='M16.7666 15.8025H17.4133V17.0958H16.7666V15.8025Z' fill='%23961914'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.barf__box-item-four:before {
  width: 20px;
  height: 15px;
  top: 13px;
  left: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_137_483)'%3E%3Cpath d='M13.6344 0.357143C13.3663 0.357143 13.1828 0.559006 13.1828 0.854037C13.1828 1.14907 13.3663 1.35093 13.6344 1.35093C16.6408 1.35093 19.0967 1.4441 19.0967 2.25155C19.0967 4.20807 14.5942 6.39752 11.9548 7.65528C11.6302 7.36025 11.4044 6.66149 11.4044 6.10248C11.4044 5.54348 11.5879 5.04658 11.8984 4.70497C12.3924 4.20807 12.6747 3.40062 12.6747 2.6087C12.6747 1.66149 12.223 0.807453 11.4467 0.403727C11.4044 0.357143 11.3056 0.357143 11.2632 0.357143C10.6422 0.295031 9.9506 0.248447 9.31546 0.201863C8.271 0.0931677 7.18419 0 6.18208 0C3.23218 0 1.77841 1.4441 1.04446 2.65528C0.550459 3.49379 0 5.04658 0 6.45963C0 7.81056 0.550459 9.56522 0.959774 10.9627C1.04446 11.2112 1.10092 11.4596 1.1856 11.6615C1.27029 11.9565 1.36909 12.2516 1.41143 12.5C1.82075 13.8975 2.08892 15 3.31687 15C3.99435 15 4.77064 14.1925 6.08327 12.7484C6.95836 11.8012 7.96048 10.7609 8.59562 10.4037C9.04728 10.1553 9.59774 9.90683 10.1905 9.65839C10.4164 9.54969 10.5011 9.25466 10.4164 9.00621C10.3317 8.75776 10.0494 8.64907 9.82357 8.75776C9.23077 9.0528 8.68031 9.30124 8.22865 9.50311C7.41002 9.90683 6.4079 11.0093 5.46224 12.0497C4.7283 12.8106 3.6415 14.0062 3.31687 14.0062C2.86521 14.0062 2.68172 13.6491 2.31475 12.205C2.23006 11.9565 2.18772 11.6615 2.08892 11.3509C2.00423 11.1025 1.94778 10.854 1.86309 10.6056C1.45378 9.25466 0.959774 7.6087 0.959774 6.45963C0.959774 5.15528 1.51023 3.80435 1.82075 3.26087C2.68172 1.75466 4.17784 0.993789 6.22442 0.993789C7.18419 0.993789 8.271 1.08696 9.31546 1.19565C9.9506 1.24224 10.5857 1.28882 11.2209 1.35093C11.6302 1.59938 11.856 2.04969 11.856 2.6087C11.856 3.1677 11.6725 3.6646 11.362 4.00621C10.868 4.50311 10.5999 5.29503 10.5999 6.10248C10.5999 6.84783 10.9245 8.15217 11.8278 8.64907C11.9689 8.69565 12.096 8.69565 12.1948 8.64907C16.1044 6.75466 20.0141 4.70497 20.0141 2.25155C20 0.450311 17.6853 0.357143 13.6344 0.357143Z' fill='%23961914'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_137_483'%3E%3Crect width='20' height='15' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.barf__box-item-five:before {
  width: 20px;
  height: 19px;
  top: 11px;
  left: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5887 5.82541C19.8582 5.46132 20 5.04329 20 4.5983C20 3.41164 18.9929 2.45422 17.7447 2.45422C17.2766 2.45422 16.8369 2.58907 16.4539 2.84528C16.0709 2.58907 15.6312 2.45422 15.1631 2.45422C14.695 2.45422 14.2553 2.58907 13.8723 2.84528C13.5035 2.60255 13.0496 2.45422 12.5816 2.45422C12.1135 2.45422 11.6738 2.58907 11.2908 2.84528C10.9078 2.58907 10.4539 2.45422 10 2.45422C9.51773 2.45422 9.07801 2.60255 8.70922 2.84528C8.32624 2.58907 7.88652 2.45422 7.41844 2.45422C6.95035 2.45422 6.51064 2.58907 6.12766 2.84528V1.05181L4.28369 0H3.5461V2.84528C2.95035 3.24982 2.58156 3.89709 2.58156 4.5983C2.58156 5.78495 3.58865 6.74237 4.83688 6.74237C5.30496 6.74237 5.74468 6.60752 6.12766 6.35131C6.51064 6.60752 6.95035 6.74237 7.41844 6.74237C7.88652 6.74237 8.34042 6.60752 8.70922 6.35131C9.07801 6.60752 9.53191 6.74237 10 6.74237C10.4681 6.74237 10.9078 6.60752 11.2908 6.35131C11.6596 6.60752 12.1135 6.74237 12.5816 6.74237C13.0496 6.74237 13.4894 6.60752 13.8723 6.35131C14.2411 6.60752 14.6809 6.74237 15.1489 6.74237C15.2624 6.74237 15.3901 6.72889 15.5035 6.7154C15.4894 6.82328 15.4752 6.93116 15.4752 7.05252C15.4752 7.17388 15.4894 7.28176 15.5035 7.38964C14.9362 7.30873 14.3404 7.43009 13.8582 7.75373C13.5035 7.49752 13.0496 7.36267 12.5816 7.36267C12.1135 7.36267 11.6738 7.49752 11.2908 7.75373C10.9078 7.49752 10.4539 7.36267 10 7.36267C9.53191 7.36267 9.0922 7.49752 8.70922 7.75373C8.34042 7.49752 7.90071 7.36267 7.41844 7.36267C6.95035 7.36267 6.49645 7.49752 6.12766 7.75373C5.74468 7.49752 5.30496 7.36267 4.83688 7.36267C4.36879 7.36267 3.92908 7.49752 3.5461 7.75373C3.16312 7.49752 2.7234 7.36267 2.25532 7.36267C1.00709 7.36267 0 8.32008 0 9.50674C0 9.96522 0.141844 10.3833 0.411347 10.7339C0.141844 11.0845 0 11.516 0 11.961C0 12.406 0.141844 12.824 0.411347 13.1881C0.156028 13.5252 0 13.9567 0 14.4017C0 15.5884 1.00709 16.5458 2.25532 16.5458C2.7234 16.5458 3.1773 16.3974 3.5461 16.1547C3.92908 16.4109 4.36879 16.5458 4.83688 16.5458C5.30496 16.5458 5.74468 16.4109 6.12766 16.1547C6.51064 16.4109 6.95035 16.5458 7.41844 16.5458C7.88652 16.5458 8.34042 16.3974 8.70922 16.1547C9.0922 16.4109 9.53191 16.5458 10 16.5458C10.4681 16.5458 10.9078 16.4109 11.2908 16.1547C11.6596 16.3974 12.1135 16.5458 12.5816 16.5458C13.0496 16.5458 13.4894 16.4109 13.8723 16.1547V17.9482L15.7163 19H16.4539V16.1547C17.0496 15.7502 17.4184 15.1029 17.4184 14.4017C17.4184 13.215 16.4113 12.2576 15.1631 12.2576C14.695 12.2576 14.2553 12.3925 13.8723 12.6487C13.4894 12.3925 13.0355 12.2576 12.5816 12.2576C12.1135 12.2576 11.6738 12.3925 11.2908 12.6487C10.922 12.406 10.4823 12.2576 10 12.2576C9.53191 12.2576 9.0922 12.3925 8.70922 12.6487C8.32624 12.3925 7.88652 12.2576 7.41844 12.2576C6.95035 12.2576 6.51064 12.3925 6.12766 12.6487C5.74468 12.3925 5.30496 12.2576 4.83688 12.2576C4.7234 12.2576 4.59574 12.2711 4.48227 12.2846C4.49645 12.1767 4.51064 12.0688 4.51064 11.9475C4.51064 11.8396 4.49645 11.7182 4.48227 11.6104C4.59574 11.6238 4.70922 11.6373 4.83688 11.6373C5.31915 11.6373 5.75887 11.489 6.12766 11.2463C6.49645 11.516 6.95035 11.6508 7.41844 11.6508C7.88652 11.6508 8.32624 11.516 8.70922 11.2598C9.07801 11.5025 9.53191 11.6508 10 11.6508C10.4681 11.6508 10.9078 11.516 11.2908 11.2598C11.6738 11.516 12.1135 11.6508 12.5816 11.6508C13.0496 11.6508 13.4894 11.516 13.8723 11.2598C14.2411 11.5025 14.695 11.6508 15.1631 11.6508C15.6454 11.6508 16.0851 11.5025 16.4539 11.2598C16.8369 11.516 17.2766 11.6508 17.7447 11.6508C18.9929 11.6508 20 10.6934 20 9.50674C20 9.06175 19.8582 8.64372 19.5887 8.27963C19.8582 7.91554 20 7.49752 20 7.05252C19.9858 6.59404 19.844 6.17601 19.5887 5.82541ZM18.9362 8.4819C19.2057 8.76508 19.3475 9.12917 19.3475 9.50674C19.3475 10.3563 18.6241 11.044 17.7305 11.044C17.4468 11.044 17.1631 10.9631 16.922 10.8417C17.2199 10.4776 17.4043 10.0192 17.4043 9.52023H16.766C16.766 10.3698 16.0426 11.0575 15.1489 11.0575C14.4681 11.0575 13.8582 10.6529 13.6312 10.0326L13.0213 10.2214C13.1064 10.4507 13.2199 10.6529 13.3759 10.8282C12.7943 11.1384 12.0142 11.0845 11.5035 10.6395L11.2908 10.4642L11.0638 10.6395C10.7801 10.8957 10.3972 11.0305 10 11.0305C9.31915 11.0305 8.7234 10.626 8.48227 10.0192L7.87234 10.2349C7.95745 10.4507 8.07092 10.6529 8.22695 10.8282C7.7305 11.0845 7.10638 11.0845 6.62411 10.8282C6.9078 10.4642 7.0922 10.0057 7.0922 9.50674H6.4539C6.4539 10.3563 5.7305 11.044 4.83688 11.044C4.62411 11.044 4.42553 11.0035 4.24113 10.9361C4.05674 10.6125 3.78723 10.3428 3.46099 10.1405L3.10638 10.6529C3.57447 10.9361 3.85816 11.4216 3.85816 11.9475C3.85816 12.1498 3.8156 12.3385 3.74468 12.5138C3.04965 12.8779 2.56738 13.5791 2.56738 14.3882H3.20567C3.20567 13.5387 3.92908 12.851 4.82269 12.851C5.21986 12.851 5.60284 12.9858 5.90071 13.242L6.11347 13.4308L6.32624 13.242C6.85106 12.8375 7.63121 12.77 8.22695 13.0802C7.91489 13.4578 7.74468 13.9163 7.74468 14.4017H8.38298C8.38298 13.9702 8.58156 13.5522 8.92199 13.2555C9.21986 13.0128 9.60284 12.8779 10 12.8779C10.8936 12.8779 11.617 13.5656 11.617 14.4152H12.2553C12.2553 13.9163 12.0709 13.4578 11.773 13.0937C12.3546 12.7835 13.1348 12.8375 13.6596 13.269L13.8723 13.4578L14.0851 13.269C14.383 13.0128 14.766 12.8779 15.1631 12.8779C16.0567 12.8779 16.7801 13.5656 16.7801 14.4152C16.7801 14.9546 16.4681 15.467 15.9716 15.7367L15.8156 15.8311V18.3527L14.5248 17.6111V15.8311L14.3688 15.7367C14.2695 15.6828 14.1844 15.6153 14.0993 15.5479L13.8865 15.3591L13.6738 15.5479C13.3759 15.8041 12.9929 15.939 12.5957 15.939C11.9291 15.939 11.3191 15.5479 11.0922 14.9546L10.4823 15.1703C10.5674 15.3726 10.6809 15.5614 10.8227 15.7367C10.3262 15.9929 9.70213 15.9929 9.21986 15.7367C9.37589 15.5479 9.48936 15.3456 9.57447 15.1164L8.93617 14.9141C8.70922 15.5344 8.09929 15.939 7.41844 15.939C7.02128 15.939 6.6383 15.8041 6.34043 15.5479L6.12766 15.3591L5.91489 15.5479C5.40425 15.9794 4.62411 16.0468 4.04255 15.7232C4.19858 15.5344 4.31206 15.3321 4.39716 15.1029L3.78723 14.9006C3.56028 15.5209 2.95035 15.9255 2.2695 15.9255C1.37589 15.9255 0.652482 15.2378 0.652482 14.3882C0.652482 13.5387 1.37589 12.851 2.2695 12.851V12.2576C1.74468 12.2576 1.26241 12.4329 0.879433 12.7161C0.737589 12.4869 0.666667 12.2172 0.666667 11.9475C0.666667 11.6778 0.737589 11.4081 0.879433 11.1788C1.1773 11.3946 1.51773 11.5429 1.91489 11.6104L2.01418 11.0035C1.21986 10.8957 0.638298 10.2619 0.638298 9.50674C0.638298 8.6572 1.3617 7.96948 2.25532 7.96948C2.65248 7.96948 3.03546 8.10433 3.33333 8.36054L3.5461 8.54933L3.75887 8.36054C4.2695 7.92903 5.04964 7.8616 5.63121 8.18524C5.48936 8.36054 5.37589 8.56281 5.29078 8.79205L5.90071 8.99432C6.12766 8.38751 6.73759 7.96948 7.41844 7.96948C8.31206 7.96948 9.03546 8.6572 9.03546 9.50674H9.67376C9.67376 9.00781 9.48936 8.54933 9.19149 8.18524C9.77305 7.87509 10.5532 7.92903 11.0638 8.36054L11.2766 8.54933L11.5035 8.36054C11.8014 8.10433 12.1844 7.96948 12.5816 7.96948C13.461 7.96948 14.1844 8.6572 14.1844 9.50674H14.8227C14.8227 9.00781 14.6383 8.54933 14.3404 8.18524C14.766 7.956 15.2908 7.91554 15.7589 8.09084C15.844 8.22569 15.9433 8.36054 16.0567 8.4819L16.539 8.07736C16.2695 7.79418 16.1277 7.43009 16.1277 7.05252C16.1277 6.85025 16.1702 6.66146 16.2411 6.47268C16.383 6.39177 16.5248 6.29737 16.6525 6.1895L16.2269 5.73101C15.9291 5.98722 15.5461 6.12207 15.1489 6.12207C14.4681 6.12207 13.8582 5.71753 13.6312 5.09723L13.0213 5.31299C13.1064 5.54223 13.2199 5.7445 13.3759 5.9198C12.7943 6.22995 12.0142 6.17601 11.5035 5.7445L11.2908 5.55571L11.0638 5.7445C10.5532 6.17601 9.77305 6.22995 9.19149 5.9198C9.33333 5.7445 9.46099 5.54223 9.5461 5.31299L8.93617 5.11072C8.70922 5.71753 8.09929 6.13556 7.41844 6.13556C7.02128 6.13556 6.6383 6.00071 6.34043 5.7445L6.12766 5.55571L5.91489 5.7445C5.61702 5.98723 5.23404 6.13556 4.83688 6.13556C3.94326 6.13556 3.21986 5.44783 3.21986 4.5983C3.21986 4.05891 3.53191 3.54649 4.02837 3.27679L4.1844 3.1824V0.660752L5.47518 1.40241V3.1824L5.63121 3.27679C5.7305 3.33073 5.8156 3.39815 5.90071 3.46558L6.12766 3.64088L6.34043 3.45209C6.85106 3.02058 7.63121 2.96664 8.22695 3.27679C7.91489 3.64088 7.74468 4.09936 7.74468 4.5983H8.38298C8.38298 3.74876 9.10638 3.06104 10 3.06104C10.3972 3.06104 10.7801 3.19588 11.078 3.45209L11.2908 3.64088L11.5035 3.45209C11.8014 3.19588 12.1844 3.06104 12.5816 3.06104C13.461 3.06104 14.1844 3.74876 14.1844 4.5983H14.8227C14.8227 4.09936 14.6383 3.64088 14.3404 3.27679C14.922 2.96664 15.7021 3.02058 16.2269 3.45209L16.4397 3.64088L16.6525 3.45209C16.9504 3.19588 17.3333 3.06104 17.7305 3.06104C18.6241 3.06104 19.3475 3.74876 19.3475 4.5983C19.3475 4.86799 19.2624 5.13769 19.1348 5.36693C18.7518 5.08375 18.2695 4.90845 17.7447 4.90845V5.51526C18.6383 5.51526 19.3617 6.20298 19.3617 7.05252C19.3617 7.43009 19.2199 7.79418 18.9504 8.07736L18.7518 8.27963L18.9362 8.4819Z' fill='%23961914'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.barf__box-item-six:before {
  width: 20px;
  height: 21px;
  top: 10px;
  left: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.24214 8.89464C6.93489 7.81929 5.99854 7.08191 4.91587 7.08191C3.83321 7.08191 2.89685 7.81929 2.58961 8.89464C1.81419 9.40159 1.17045 10.1851 0.716898 11.1529C0.24872 12.1668 0 13.3496 0 14.594C0 16.2838 0.453548 17.8661 1.28749 19.0183C2.19459 20.2933 3.48208 20.9846 4.91587 20.9846C6.34967 20.9846 7.63716 20.2933 8.54426 19.0183C8.64667 18.88 8.61741 18.6957 8.48573 18.5881C8.35406 18.4806 8.17849 18.5113 8.07608 18.6496C7.28603 19.7556 6.15947 20.3701 4.91587 20.3701C3.67227 20.3701 2.54572 19.7556 1.75567 18.6496C0.994879 17.5896 0.585223 16.1456 0.585223 14.594C0.585223 13.4418 0.804682 12.3358 1.2436 11.4294C1.66789 10.523 2.26774 9.81636 2.99927 9.37086C3.07242 9.32478 3.11631 9.26333 3.13094 9.17116C3.33577 8.31088 4.0673 7.69639 4.91587 7.69639C5.76445 7.69639 6.51061 8.29552 6.7008 9.17116C6.71543 9.24797 6.77396 9.32478 6.83248 9.37086C7.56401 9.81636 8.16386 10.5384 8.58815 11.4294C9.01243 12.3511 9.24652 13.4418 9.24652 14.594C9.24652 15.6232 9.07096 16.6064 8.71982 17.4667C8.6613 17.6203 8.71982 17.8047 8.88076 17.8661C9.02707 17.9276 9.20263 17.8661 9.26116 17.6971C9.64155 16.76 9.83175 15.7001 9.83175 14.594C9.83175 13.3496 9.58303 12.1514 9.11485 11.1529C8.67593 10.1851 8.01756 9.40159 7.24214 8.89464Z' fill='%23961914'/%3E%3Cpath d='M2.7213 12.6738C2.56036 12.6277 2.39943 12.7199 2.35554 12.8889C2.20923 13.4112 2.13608 13.9949 2.13608 14.5941C2.13608 17.0059 3.30652 18.7418 4.91589 18.7418C6.52525 18.7418 7.6957 16.9905 7.6957 14.5941C7.6957 12.1976 6.52525 10.4463 4.91589 10.4463C4.18436 10.4463 3.51135 10.815 3.01391 11.4909C2.9115 11.6292 2.94076 11.8135 3.0578 11.9211C3.18948 12.0286 3.36505 11.9979 3.46746 11.8596C3.86249 11.3373 4.35993 11.0608 4.91589 11.0608C6.18875 11.0608 7.11047 12.5509 7.11047 14.5941C7.11047 16.6372 6.18875 18.1273 4.91589 18.1273C3.64303 18.1273 2.7213 16.6372 2.7213 14.5941C2.7213 14.041 2.79445 13.5187 2.92613 13.0578C2.97002 12.8889 2.86761 12.7199 2.7213 12.6738Z' fill='%23961914'/%3E%3Cpath d='M18.7125 1.96635C17.8054 0.691295 16.5179 0 15.0841 0C13.6503 0 12.3482 0.691295 11.4557 1.96635C10.8705 2.78054 10.4609 3.82516 10.2853 4.97732C10.2414 5.13094 10.3584 5.29993 10.5194 5.33065C10.6803 5.34601 10.8266 5.23848 10.8559 5.0695C11.0168 4.02487 11.3826 3.07242 11.9239 2.33504C12.714 1.22897 13.8259 0.614484 15.0841 0.614484C16.3277 0.614484 17.4543 1.22897 18.2443 2.33504C19.0051 3.39503 19.4148 4.83906 19.4148 6.39064C19.4148 7.54279 19.1953 8.64887 18.7564 9.55523C18.3321 10.4616 17.7323 11.1683 17.0007 11.6138C16.9276 11.6598 16.8837 11.7213 16.8691 11.8135C16.6642 12.6737 15.9327 13.2882 15.0841 13.2882C14.2355 13.2882 13.4894 12.6891 13.2992 11.8135C13.2699 11.7366 13.226 11.6752 13.1529 11.6291C12.4214 11.1836 11.8215 10.4616 11.3972 9.57059C10.9729 8.64887 10.7535 7.54279 10.7535 6.39064C10.7535 6.22165 10.6218 6.08339 10.4609 6.08339C10.2999 6.08339 10.1682 6.22165 10.1682 6.39064C10.1682 7.63497 10.417 8.83321 10.8851 9.83175C11.3387 10.7996 11.9824 11.583 12.7579 12.09C13.0651 13.1653 14.0015 13.9027 15.0841 13.9027C16.1668 13.9027 17.1031 13.1653 17.4104 12.09C18.1858 11.583 18.8442 10.7996 19.2831 9.83175C19.7513 8.83321 20 7.63497 20 6.39064C20 4.7008 19.5318 3.13387 18.7125 1.96635Z' fill='%23961914'/%3E%3Cpath d='M17.3665 8.03444C17.5274 8.06516 17.6884 7.97299 17.7176 7.804C17.8201 7.3585 17.864 6.88228 17.864 6.39069C17.864 3.97884 16.6935 2.24292 15.0841 2.24292C13.4748 2.24292 12.2897 3.9942 12.2897 6.39069C12.2897 8.78718 13.4602 10.5385 15.0695 10.5385C15.9327 10.5385 16.6935 10.0315 17.2202 9.12515C17.308 8.97152 17.2495 8.78718 17.1178 8.71037C16.9715 8.6182 16.7959 8.67964 16.7228 8.8179C16.3131 9.53992 15.7279 9.93934 15.0841 9.93934C13.8113 9.93934 12.8896 8.44921 12.8896 6.40605C12.8896 4.36289 13.8113 2.87277 15.0841 2.87277C16.357 2.87277 17.2787 4.36289 17.2787 6.40605C17.2787 6.85155 17.2348 7.28169 17.1471 7.68111C17.1032 7.83473 17.2056 8.00371 17.3665 8.03444Z' fill='%23961914'/%3E%3Cpath d='M4.28679 15.9766C4.28679 15.8076 4.15512 15.6693 3.99418 15.6693C3.83324 15.6693 3.70157 15.8076 3.70157 15.9766C3.70157 16.1455 3.83324 16.2838 3.99418 16.2838C4.15512 16.2838 4.28679 16.1455 4.28679 15.9766Z' fill='%23961914'/%3E%3Cpath d='M5.16459 17.144C5.32619 17.144 5.4572 17.0065 5.4572 16.8368C5.4572 16.6671 5.32619 16.5295 5.16459 16.5295C5.00299 16.5295 4.87198 16.6671 4.87198 16.8368C4.87198 17.0065 5.00299 17.144 5.16459 17.144Z' fill='%23961914'/%3E%3Cpath d='M5.67665 13.0117C5.83825 13.0117 5.96926 12.8741 5.96926 12.7045C5.96926 12.5348 5.83825 12.3972 5.67665 12.3972C5.51504 12.3972 5.38403 12.5348 5.38403 12.7045C5.38403 12.8741 5.51504 13.0117 5.67665 13.0117Z' fill='%23961914'/%3E%3Cpath d='M13.8551 5.02343C13.8551 5.19241 13.9868 5.33067 14.1477 5.33067C14.3087 5.33067 14.4404 5.19241 14.4404 5.02343C14.4404 4.85445 14.3087 4.71619 14.1477 4.71619C13.9868 4.71619 13.8551 4.85445 13.8551 5.02343Z' fill='%23961914'/%3E%3Cpath d='M15.3182 4.47032C15.4799 4.47032 15.6109 4.33276 15.6109 4.16308C15.6109 3.99339 15.4799 3.85583 15.3182 3.85583C15.1566 3.85583 15.0256 3.99339 15.0256 4.16308C15.0256 4.33276 15.1566 4.47032 15.3182 4.47032Z' fill='%23961914'/%3E%3Cpath d='M15.8449 8.60277C16.0065 8.60277 16.1375 8.46521 16.1375 8.29553C16.1375 8.12584 16.0065 7.98828 15.8449 7.98828C15.6833 7.98828 15.5523 8.12584 15.5523 8.29553C15.5523 8.46521 15.6833 8.60277 15.8449 8.60277Z' fill='%23961914'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.barf__box-item-seven:before {
  width: 20px;
  height: 18px;
  top: 12px;
  left: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4007 9.82609C19.2222 9.45342 19.0054 9.0559 18.7631 8.65838C18.1128 7.59006 17.6155 6.59627 17.2203 5.61491C17.182 5.51553 17.131 5.41615 17.0927 5.31677C17.0162 5.1677 16.8377 5.11801 16.6975 5.18012C16.5444 5.25466 16.4934 5.42857 16.5572 5.56522C16.5955 5.65217 16.6337 5.72671 16.672 5.81366C17.0672 6.8323 17.59 7.85093 18.2531 8.9441C18.4954 9.32919 18.6994 9.71429 18.8652 10.0621C19.2349 10.8199 19.4134 11.4534 19.4134 11.9379C19.4134 14.9441 16.7995 17.4037 13.5862 17.4037C12.5789 17.4037 11.597 17.1553 10.7172 16.6957C11.2272 16.2609 11.6735 15.764 12.0561 15.205C12.7191 14.2112 13.1527 13.0559 13.3057 11.8385C13.5352 9.91304 13.0379 8.16149 12.0178 7.36646C11.3802 6.86957 10.7299 6.73292 10.1051 6.78261C10.2454 6.45963 10.3857 6.13665 10.5132 5.81366C10.7427 5.22981 11.1507 4.73292 11.6863 4.37267C12.2473 4 12.8976 3.80124 13.5862 3.80124C13.6754 3.80124 13.752 3.80124 13.8285 3.81366C14.619 3.86335 15.3586 4.18634 15.9196 4.7205C16.0344 4.8323 16.2257 4.8323 16.3404 4.7205C16.4552 4.6087 16.4552 4.42236 16.3404 4.31056C15.6901 3.68944 14.823 3.31677 13.905 3.25466C13.9687 2.45963 14.3385 1.60248 15.2183 1.29193C15.3713 1.24224 15.4479 1.06832 15.3968 0.919255C15.3458 0.770186 15.1673 0.695652 15.0143 0.745342C13.8667 1.15528 13.3822 2.26087 13.3184 3.25466C12.5916 3.29193 11.9285 3.51553 11.3547 3.90062C10.7172 4.32298 10.2326 4.91925 9.95212 5.61491C9.78636 6.03727 9.58234 6.48447 9.36557 6.93168C8.75352 7.09317 8.19247 7.40373 7.72068 7.65217C7.44015 7.80124 7.17238 7.95031 6.95561 8.02485C6.91736 7.54037 6.78984 7.04348 6.61133 6.58385C8.03945 6.44721 9.36557 5.70186 10.1944 4.54658C11.1125 3.29193 11.3547 1.6646 10.8575 0.198758C10.8192 0.0745342 10.7044 0 10.5769 0C8.99579 0.0372671 7.50391 0.807453 6.58583 2.06211C5.93552 2.96894 5.61674 4.06211 5.6805 5.14286C5.39997 4.86957 5.09395 4.68323 4.78792 4.6087C4.62215 4.55901 4.46914 4.65838 4.41814 4.80745C4.37988 4.95652 4.46914 5.11801 4.63491 5.1677C5.51473 5.40373 6.2288 6.81988 6.35631 8.01242C6.2543 7.97515 6.12679 7.91304 5.96102 7.82609C5.85901 7.7764 5.74425 7.71429 5.62949 7.65217C4.94093 7.2795 4.09936 6.8323 3.19403 6.78261C2.51822 6.74534 1.89342 6.9441 1.34512 7.37888C0.592802 7.95031 0.108259 9.06832 0.0190014 10.4224C-0.134012 12.5342 0.643806 14.6957 2.11018 16.2112C2.22494 16.323 2.41621 16.3354 2.53097 16.2236C2.64573 16.1118 2.65848 15.9255 2.54372 15.8137C1.1921 14.4099 0.46529 12.4099 0.605553 10.472C0.694811 9.2795 1.10285 8.29814 1.7149 7.82609C2.16119 7.49068 2.63298 7.32919 3.16853 7.36646C3.93359 7.40373 4.68591 7.80124 5.34897 8.16149C5.47648 8.2236 5.59124 8.28571 5.706 8.34783C5.89727 8.4472 6.05028 8.52174 6.19054 8.57143C6.36906 8.63354 6.53482 8.67081 6.67508 8.67081C7.04487 8.67081 7.4784 8.4472 8.01395 8.14907C9.07229 7.59006 10.3984 6.86957 11.6353 7.82609C12.4896 8.48447 12.9104 10.0621 12.7064 11.7764C12.5661 12.8944 12.1708 13.9752 11.5588 14.8944C10.8447 15.9627 9.86286 16.7702 8.63876 17.3292C8.37098 17.4534 8.07771 17.3913 7.72068 17.1553C7.4274 16.9565 7.09587 16.8571 6.75159 16.8323C6.73884 16.8323 6.72609 16.8323 6.71334 16.8323C6.3308 16.8199 5.94827 16.9317 5.62949 17.1553C5.27246 17.3913 4.97919 17.441 4.71141 17.3292C4.23962 17.118 3.79333 16.8571 3.3853 16.559C3.25779 16.4596 3.06652 16.4845 2.96451 16.6211C2.8625 16.7453 2.888 16.9317 3.02826 17.0311C3.4618 17.354 3.94635 17.6398 4.45639 17.8634C4.63491 17.9503 4.81342 17.9752 4.99194 17.9752C5.37447 17.9752 5.71875 17.8137 5.96102 17.6398C6.17779 17.4907 6.43281 17.4161 6.70059 17.4286C6.71334 17.4286 6.72609 17.4286 6.73884 17.4286C6.96836 17.441 7.19788 17.5155 7.38915 17.6398C7.75893 17.8882 8.30723 18.1242 8.89378 17.8634C9.36557 17.6522 9.81186 17.3913 10.2199 17.1056C11.2272 17.6894 12.3876 18 13.5862 18C17.131 18 20 15.2919 20 11.9627C20 11.3789 19.796 10.6584 19.4007 9.82609ZM6.81535 5.97516L8.53675 3.60248L9.97762 3.78882C9.90112 3.92547 9.81186 4.07453 9.70985 4.21118C9.03404 5.15528 7.9757 5.78882 6.81535 5.97516ZM9.03404 1.91304L8.63876 1.06832C9.04679 0.857143 9.49308 0.708075 9.96487 0.63354L9.03404 1.91304ZM10.4494 0.968944C10.5897 1.72671 10.5132 2.50932 10.2454 3.22981L8.93203 3.06832L10.4494 0.968944ZM8.12871 1.37888L8.65151 2.47205L8.16696 3.11801L7.77168 3.65217L7.17238 2.26087C7.44015 1.92547 7.75893 1.61491 8.12871 1.37888ZM6.77709 2.85714L7.36364 4.21118L6.3308 5.63975C6.16504 4.69565 6.31805 3.70186 6.77709 2.85714Z' fill='%23961914'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.ration {
  padding: 90px 0;
}
.ration__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 97px;
}
.ration__title {
  margin-right: 10px;
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}
.ration__title:after {
  content: "";
  background-image: url(../images/ration/title-eclipse.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 181px;
  height: 68px;
  top: 0;
  right: -40px;
  z-index: -1;
}
.ration__desc {
  max-width: 777px;
}
.ration__row {
  display: flex;
  align-items: center;
  margin: -12px;
  margin-bottom: 80px;
}
.ration__col {
  padding: 12px;
  flex: 1 1 25%;
}
.ration__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.ration__img-wrap {
  padding-bottom: 120%;
  position: relative;
  margin-bottom: 47px;
}
.ration__subtitle {
  font-weight: 700;
  line-height: 1.3;
  color: #000;
  margin-bottom: 6px;
}
.ration__components {
  font-size: 13px;
  line-height: 1.3;
  color: #9F9E9D;
  margin-bottom: 14px;
}
.ration__text {
  line-height: 1.4;
  margin-bottom: 11px;
}
.ration__grams {
  font-size: 13px;
  line-height: 1.3;
  color: #9F9E9D;
  margin-bottom: 24px;
}
.ration__calc {
  background-image: url(../images/ration/ration-bgr.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ration__calc-text {
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.02em;
  color: #000;
  max-width: 705px;
}
.ration__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 52px 121px 54px 50px;
}

.why {
  padding: 90px 0;
}
.why__title {
  margin-bottom: 57px;
}
.why__row {
  display: flex;
  margin: -12.5px;
}
.why__col {
  flex: 1 1 25%;
  padding: 12.5px;
}
.why__img-wrap {
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
}
.why__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #000;
  margin-bottom: 8px;
}
.why__desc {
  color: #000;
  max-width: 282px;
}

.love {
  background-image: url(../images/love/love-bgr.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 90px 0;
}
.love__wrapper {
  padding: 80px 0;
}
.love__box {
  display: flex;
  align-items: center;
}
.love__col-one {
  flex: 1 1 47%;
  margin-right: 59px;
}
.love__col-two {
  flex: 1 1 53%;
}
.love__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.love__img-wrap {
  position: relative;
  margin-right: 80px;
  margin-bottom: 183px;
}
.love__img-position {
  position: absolute;
  bottom: -182px;
  right: -80px;
  max-width: 100%;
  object-fit: cover;
}
.love__title {
  margin-bottom: 40px;
  max-width: 416px;
}
.love__desc {
  line-height: 1.3;
  margin-bottom: 25px;
  max-width: 520px;
}
.love__desc:last-child {
  margin-bottom: 0;
}

.get {
  padding: 90px 0 101px 0;
}
.get__title {
  margin-bottom: 77px;
}
.get__row {
  display: flex;
  align-items: center;
  margin: -12.5px;
}
.get__col {
  flex: 1 1 25%;
  padding: 12.5px;
}
.get__img {
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
  position: relative;
}
.get__img-one {
  width: 29px;
  height: 32px;
  margin-bottom: 20px;
}
.get__img-one:after {
  display: none;
}
.get__img:after {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 140 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M139.354 8.35355C139.549 8.15829 139.549 7.84171 139.354 7.64645L136.172 4.46447C135.976 4.2692 135.66 4.2692 135.464 4.46447C135.269 4.65973 135.269 4.97631 135.464 5.17157L138.293 8L135.464 10.8284C135.269 11.0237 135.269 11.3403 135.464 11.5355C135.66 11.7308 135.976 11.7308 136.172 11.5355L139.354 8.35355ZM4.96429 8.5C5.24043 8.5 5.46429 8.27614 5.46429 8C5.46429 7.72386 5.24043 7.5 4.96429 7.5V8.5ZM14.8929 7.5C14.6167 7.5 14.3929 7.72386 14.3929 8C14.3929 8.27614 14.6167 8.5 14.8929 8.5V7.5ZM24.8214 8.5C25.0976 8.5 25.3214 8.27614 25.3214 8C25.3214 7.72386 25.0976 7.5 24.8214 7.5V8.5ZM34.75 7.5C34.4739 7.5 34.25 7.72386 34.25 8C34.25 8.27614 34.4739 8.5 34.75 8.5V7.5ZM44.6786 8.5C44.9547 8.5 45.1786 8.27614 45.1786 8C45.1786 7.72386 44.9547 7.5 44.6786 7.5V8.5ZM54.6071 7.5C54.331 7.5 54.1071 7.72386 54.1071 8C54.1071 8.27614 54.331 8.5 54.6071 8.5V7.5ZM64.5357 8.5C64.8119 8.5 65.0357 8.27614 65.0357 8C65.0357 7.72386 64.8119 7.5 64.5357 7.5V8.5ZM74.4643 7.5C74.1881 7.5 73.9643 7.72386 73.9643 8C73.9643 8.27614 74.1881 8.5 74.4643 8.5V7.5ZM84.3929 8.5C84.669 8.5 84.8929 8.27614 84.8929 8C84.8929 7.72386 84.669 7.5 84.3929 7.5V8.5ZM94.3214 7.5C94.0453 7.5 93.8214 7.72386 93.8214 8C93.8214 8.27614 94.0453 8.5 94.3214 8.5V7.5ZM104.25 8.5C104.526 8.5 104.75 8.27614 104.75 8C104.75 7.72386 104.526 7.5 104.25 7.5V8.5ZM114.179 7.5C113.902 7.5 113.679 7.72386 113.679 8C113.679 8.27614 113.902 8.5 114.179 8.5V7.5ZM124.107 8.5C124.383 8.5 124.607 8.27614 124.607 8C124.607 7.72386 124.383 7.5 124.107 7.5V8.5ZM134.036 7.5C133.76 7.5 133.536 7.72386 133.536 8C133.536 8.27614 133.76 8.5 134.036 8.5V7.5ZM0 8.5H4.96429V7.5H0V8.5ZM14.8929 8.5H24.8214V7.5H14.8929V8.5ZM34.75 8.5H44.6786V7.5H34.75V8.5ZM54.6071 8.5H64.5357V7.5H54.6071V8.5ZM74.4643 8.5H84.3929V7.5H74.4643V8.5ZM94.3214 8.5H104.25V7.5H94.3214V8.5ZM114.179 8.5H124.107V7.5H114.179V8.5ZM134.036 8.5H139V7.5H134.036V8.5ZM139.707 8.70711C140.098 8.31658 140.098 7.68342 139.707 7.29289L133.343 0.928932C132.953 0.538408 132.319 0.538408 131.929 0.928932C131.538 1.31946 131.538 1.95262 131.929 2.34315L137.586 8L131.929 13.6569C131.538 14.0474 131.538 14.6805 131.929 15.0711C132.319 15.4616 132.953 15.4616 133.343 15.0711L139.707 8.70711ZM4.96429 9C5.51657 9 5.96429 8.55228 5.96429 8C5.96429 7.44772 5.51657 7 4.96429 7V9ZM14.8929 7C14.3406 7 13.8929 7.44772 13.8929 8C13.8929 8.55228 14.3406 9 14.8929 9V7ZM24.8214 9C25.3737 9 25.8214 8.55228 25.8214 8C25.8214 7.44772 25.3737 7 24.8214 7V9ZM34.75 7C34.1977 7 33.75 7.44772 33.75 8C33.75 8.55228 34.1977 9 34.75 9V7ZM44.6786 9C45.2309 9 45.6786 8.55228 45.6786 8C45.6786 7.44772 45.2309 7 44.6786 7V9ZM54.6071 7C54.0549 7 53.6071 7.44772 53.6071 8C53.6071 8.55228 54.0549 9 54.6071 9V7ZM64.5357 9C65.088 9 65.5357 8.55228 65.5357 8C65.5357 7.44772 65.088 7 64.5357 7V9ZM74.4643 7C73.912 7 73.4643 7.44772 73.4643 8C73.4643 8.55228 73.912 9 74.4643 9V7ZM84.3929 9C84.9452 9 85.3929 8.55228 85.3929 8C85.3929 7.44772 84.9452 7 84.3929 7V9ZM94.3214 7C93.7692 7 93.3214 7.44772 93.3214 8C93.3214 8.55228 93.7692 9 94.3214 9V7ZM104.25 9C104.802 9 105.25 8.55228 105.25 8C105.25 7.44772 104.802 7 104.25 7V9ZM114.179 7C113.626 7 113.179 7.44772 113.179 8C113.179 8.55228 113.626 9 114.179 9V7ZM124.107 9C124.659 9 125.107 8.55228 125.107 8C125.107 7.44772 124.659 7 124.107 7V9ZM134.036 7C133.483 7 133.036 7.44772 133.036 8C133.036 8.55228 133.483 9 134.036 9V7ZM0 9H4.96429V7H0V9ZM14.8929 9H24.8214V7H14.8929V9ZM34.75 9H44.6786V7H34.75V9ZM54.6071 9H64.5357V7H54.6071V9ZM74.4643 9H84.3929V7H74.4643V9ZM94.3214 9H104.25V7H94.3214V9ZM114.179 9H124.107V7H114.179V9ZM134.036 9H139V7H134.036V9Z' fill='%23EAD1D0'/%3E%3C/svg%3E");
  width: 140px;
  height: 16px;
  top: 12px;
  right: 92px;
}
.get__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #000;
  margin-bottom: 8px;
}
.get__desc {
  max-width: 279px;
  color: #000;
}

/*# sourceMappingURL=style.css.map */
